* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 60vh;
    background-color: rgb(126, 126, 126);
    position: relative;
}

header nav{
    display: flex;
    z-index: 40;
    align-content: flex-end;
    justify-content: space-between;
    position: absolute;
    top: 10px;
    align-items: flex-end;
}

header .hero-image {
    width: 50%;
    height: 100%;
    justify-self: end;
    background-image: url(../Assets/Images/Hero-section-image.jpg);
    background-position: center;
    background-size: cover;
}

header nav a{
    padding-right: 16px;
    color: rgb(255, 255, 255);
    z-index: 40;
    font-size: 10px;
    text-decoration: none;
}


.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 3%;
}

.hamburger div {
    height: 4px;
    width: 28px;
    background-color: rgb(0, 0, 0);
    margin: 2px 0;
}

        @media (max-width: 768px) {
            .menu {
                display: none;
                flex-direction: column;
                background-color: #333;
                position: absolute;
                top: 50px;
                right: 20px;
                padding: 10px;
                border-radius: 5px;
                width: 200px;
            }

            .log {
                margin: 6px 0;
            }

            .menu.active {
                display: flex;
            }

            .hamburger {
                display: flex;
            }
        }

.rate-container {
    position: relative;
    top: 80px;
    margin-bottom: 100px;
    width: 90%;
    margin: auto;
    height: 500px;
    background-color: rgb(210, 210, 210);
    border-radius: 20px;
    overflow: hidden;
}

.reviewing {
  justify-self: end;
  width: 29%;
  position: absolute;
  top: 1%;
  right: 10%;
}

@media (max-width: 768px) {

  .rate-container {
    height: 600px;
    width: 80%;
    margin: 0;
  }

  .rate-container p {
    width: 350px;
  }

  .reviewing {
    margin-top: 250px;
    margin-right: 70px;
  }
}

.rate-container h1 {
    padding: 20px 30px;
}

.rate-container div {
    width: 40%;
    height: 400px;
}

.rate-container div p{
    color: gray;
    padding: 10px 30px;
    font-size: clamp(8.2px, 1.1vw, 20px);
}



@media (max-width: 768px) {

    .reviewing {
        justify-self: end;
        width: 50%;
        position: absolute;
        top: 25%;
        right: 5%;
    }

}



.categoeries-container {
    width: 100%;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px,1fr));
    justify-items: center;
}

@media (max-width: 768px) {
  
  .categoeries-container {
    width: 100%;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%,1fr));
    justify-items: center;
}

}

.start-shopping {
    background-image:radial-gradient(rgba(0, 0, 0, 0.507),rgba(0, 0, 0, 0.469)) , url(../Assets/Images/start-shopping.jpg);
    background-position: center;
    background-size: cover;
    width: 90%;
    height: 90%;
    border-radius: 20px;
    color: white;
    font-size: clamp(30px, 2vw, 40px);
    padding: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    transition: 0.3s;

}

.choose-property {
    background-image:radial-gradient(rgba(0, 0, 0, 0.507),rgba(0, 0, 0, 0.469)) , url(../Assets/Images/select-property.jpg);
    background-position: center;
    background-size: cover;
    width: 90%;
    height: 90%;
    border-radius: 20px;
    color: white;
    font-size: clamp(30px, 2vw, 40px);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    transition: 0.3s;
}

.learn-more {
    background-image:radial-gradient(rgba(0, 0, 0, 0.507),rgba(0, 0, 0, 0.469)) ,url(../Assets/Images/learn-more.jpg);
    background-position: center;
    background-size: cover;
    width: 90%;
    height: 90%;
    border-radius: 20px;
    color: white;
    font-size: clamp(30px, 2vw, 40px);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    transition: 0.3s;
}

.start-shopping:hover {
    transform: scale(1.04);
}

.choose-property:hover {
    transform: scale(1.04);
}

.learn-more:hover {
    transform: scale(1.04);
}
img {
    width: 100%;
}

.slideshow-section {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(210, 210, 210);
    padding: 60px 40px;
    border-radius: 20px;
}

#btns {
    width: 60px;
    height: 60px;
    background: transparent;
}

@media (max-width: 768px) {
    #btns {
        width: 200px;
        height: 200px;
    }

    .slideshow-section {
        background: transparent;
        width: 100%;
    }
}


.activex {
    background-color: rgb(38, 41, 46);
}

@media (max-width: 768px) {
    .slideshow-section {
        padding: 10px;

    }
}
.slidshow-container span{
    border: 2px solid rgb(38, 41, 46);
    width: 10px;
    height: 10px;
    display: inline-block;
    position: relative;
    border-radius: 50%;
}

footer {
    width: 100%;
    height: fit-content;
    background-color: rgb(201, 201, 201);
    margin-top: 40px;
    border: 0;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
    padding: 30px;
    overflow: hidden;
}   

footer div h1 {
    font-size: 24px;
}

footer p a {
    text-decoration: none;
    color: #3e434a;
}

footer .footer-img-container {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
}

@media (max-width: 768px) {
    footer .footer-img-container {
        width: 50%;
    }
}

.log:hover {
    background-color: gray;
}